<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>zhouxiaojie</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Start Coding</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_LoginOnPartialPage")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <header style="text-align:left;background-color:white;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb myfontfamily">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Domains</a></li>
                    </ol>
                </div>

                <div class="col-lg-12">
                    <div class="breadcrumb">
                        <div class="page-header" style="color: #18bc9c; font-size: 1.5em; line-height: 1.142857142857143em; ">
                            Algorithms
                        </div>
                        <ul class="color-alt-grey">
                            <li><span>@Html.ActionLink("String", "Algorithms", "Problem", new { kind = "String"}, new { @style = "text-decoration:none;" })</span></li>
                            <li><span>@Html.ActionLink("Number Theory", "Algorithms", "Problem", new { kind = "Number_Theory" }, new { @style = "text-decoration:none;" })</span></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</header>
 

</body>

</html>